.page.theme_light {
  --theme-switch-menu-color: var(--charcoal-brown);
  --theme-hover-color: var(--charcoal-brown-transparent);
  --angle-color: var(--charcoal-brown);
  --header-logo-color: var(--soft-pink);
  --header-logo-shadow-color: var(--hot-pink);
  --header-description-text-color: var(--charcoal-brown);
  --heading-bg-color: var(--light-candy-pink);
  --question-title-text-color: var(--charcoal-brown);
  --answer-heading-text-color: var(--charcoal-brown);
  --answer-heading-bg-color: var(--light-candy-pink);
  --answer-main-text-color: var(--charcoal-brown);
  --link-shadow-color: var(--light-candy-pink);
  --footer-logo-color: var(--soft-pink);
  --footer-logo-shadow-color: var(--hot-pink);
  --background-color: var(--blush-white);
  --background-image: url(../images/cover-image-light.png);
  --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-switch-menu-color: var(--charcoal-brown);
    --angle-color: var(--charcoal-brown);
    --theme-hover-color: var(--charcoal-brown-transparent);
    --header-logo-color: var(--soft-pink);
    --header-logo-shadow-color: var(--hot-pink);
    --header-description-text-color: var(--charcoal-brown);
    --heading-bg-color: var(--light-candy-pink);
    --question-text-color: var(--charcoal-brown);
    --answer-heading-text-color: var(--charcoal-brown);
    --answer-heading-bg-color: var(--light-candy-pink);
    --answer-main-text-color: var(--charcoal-brown);
    --link-shadow-color: var(--light-candy-pink);
    --footer-logo-color: var(--soft-pink);
    --footer-logo-shadow-color: var(--hot-pink);
    --background-color: var(--blush-white);
    --background-image: url(../images/cover-image-light.png);
    --rec-visibility: hidden;
  }
}