.page {
  font-family: var(--main-font), monospace;
  background: var(--background-image) no-repeat top center / cover fixed;
  background-color: var(--background-color);
  max-inline-size: 1024px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr ;
  padding: 20px;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: 60px;
  position: relative;
}

.header__decorated-rec::before, .header__decorated-rec::after {
  position: absolute;
  visibility: var(--rec-visibility);
}

.header__decorated-rec {
  position: absolute;
  display: flex;
  right: 0;
}

.header__decorated-rec::before {
  content: "REC";
  top: 20px;
  right: 48px;
  line-height: 25px;
  font-size: 18px;
  color: var(--rec-label-color);
}

.header__decorated-rec::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-indicator-color);
  background-color: var(--rec-indicator-color);
  top: 28px;
  right: 29px;
}

.decorated-zone::after, .decorated-zone::before {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  top: 20px;
  right: 20px;
  border-block-start: 1px solid var(--angle-color);
  border-inline-end: 1px solid var(--angle-color);
}

.decorated-zone::before {
  bottom: 20px;
  left: 20px;
  border-block-end: 1px solid var(--angle-color);
  border-inline-start: 1px solid var(--angle-color);
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0px 13px;
  line-height: 18px;
  text-align: center;
  font-style: normal;
  height: 23px;
  background: none;
  font-size: 18px;
  color: var(--theme-switch-menu-color);
  text-transform: lowercase;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--theme-switch-menu-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--theme-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--theme-switch-menu-color);
}

.header__title {
  margin-inline-start: -20px;
}

.header__stylized-text {
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0px var(--header-logo-shadow-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 98%;
}

.header__description {
  justify-self: end;
  align-self: center;
  /*margin-block-end: 2.4rem;*/
  line-height: 131%;
  color: var(--header-description-text-color);
  font-size: 18px;
  font-weight: 700;
  inline-size: 50%;
}

.title-decor {
  color: var(--header-description-text-color);
  background-color: var(--heading-bg-color);
}
 
.main {
  padding-inline: 2%;
} 

.content {
  display: grid;
  gap: clamp(50px, 1.3359rem + 7.6336vw, 80px);
  /*padding-block: clamp(40px, 1.3073rem + 5.0891vw, 60px);*/
  padding-inline: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__title {
  color: var(--question-title-text-color);
  font-weight: 700;
  text-align: left;
  font-size: inherit;
}

.content-subtitle {
  font-size: inherit;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle-text {
  color: var(--answer-main-text-color);
  line-height: 23.4px;
  text-align: left;
  display: grid;
  gap: 10px;
}

.content__block {
  display: grid;
  gap: 20px;
}

.topic {
  font-size: inherit;
  font-weight: normal;
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.link {
  text-decoration: none;
  color: var(--answer-main-text-color);
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.link:hover {
  border-bottom: 1px solid var(--answer-main-text-color);
}

.link:focus-visible {
  outline: 1px solid var(--answer-main-text-color);
  line-height: 1;
  display: inline-block;
  padding-bottom: 2px;
}

.images__section {
  display: flex;
  flex-direction: column;
  margin-block-end: 60px;
  gap: 20px;
}

.images-subtitle {
  font-size: inherit;
  font-weight: 700;
}

.images__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "sunset sunset ice-cream"
    "tape   book   ice-cream"
    "tape   street street";
  gap: 20px;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sunset__image {
  grid-area: sunset;
}

.ice-cream__image {
  grid-area: ice-cream;
}

.tape__image {
  grid-area: tape;
}

.book__image {
  grid-area: book;
}

.street__image {
  grid-area: street;
}

.footer {
  min-block-size: 668px;
  block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--header-logo-shadow-color);
  color: var(--header-logo-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
}

@media (width <= 1023px) {
  .content__section {
    grid-template-columns: 1fr 2fr;
  }

  .content__block__tablet {
    grid-column: span 2;
  }
  
  .footer {
    min-block-size: 100vh;
  }

  .header {
    min-block-size: 100vh;
  }

  .header__theme-menu {
    display: flex;
    justify-content: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (width <= 767px) {
  .header {
    padding: 10px;
    min-block-size: 100vh;
    margin-block-end: 40px;
  }

  .header__title {
    margin-inline-start: 0;
  }

  .header__stylized-text {
    font-size: clamp(116px, 0.5625rem + 14.4531vw, 157px);
    line-height: 95.7px;
  }

  .header__decorated-rec::before {
    top: 10px;
    right: 38px;
  }
  
  .header__decorated-rec::after {
    top: 18px;
    right: 19px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .header__description {
    inline-size: 100%;
    
  }

  .content__section {
    grid-template-columns: 1fr;
  }

  .images__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .images__section {
    margin-block-end: 40px;
    gap: 10px;
  }

  .footer {
    min-block-size: 100vh;
  }

  .footer__title {
    font-size: clamp(116px, 0.5625rem + 14.4531vw, 157px);
    line-height: 95.7px;
  }
}

@media (width >= 1024px) {
  .content__block__laptop {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
    align-items: start;
  }

  .content__section {
    grid-template-columns: 1fr 2fr;
  }
}
