:root {
  --main-font: "IBM Plex mono", monospace;
  --hot-pink: #FF0070;
  --hot-pink-transparent: rgba(255, 0, 112, 0.4);
  --vivid-purple: #DB00FF;
  --deep-navy: #000028;
  --pastel-rose: #F1B2CE;
  --soft-pink: #FFC2E6;
  --charcoal-brown: #353430;
  --charcoal-brown-transparent: rgba(50, 49, 45, 0.4);
  --light-candy-pink: #FF8DCB;
  --blush-white: #FFF1F7;
  --font-size: 18px;
}